<div>
  <h2><%= @title %></h2>

  <.form let={f} 
        for={@changeset}
        action="#"
        id="url-form"
        as={:url}       
        phx_target={@myself}
        phx_change="validate"
        phx_submit="save">

    <%= label f, :url %>
    <%= text_input f, :url %>
    <%= error_tag f, :url %>

    <%= submit "Save", phx_disable_with: "Saving..." %>
  </.form>
</div>